@model ZibalPay.Core.DTOs.Customer.makeRequest_response
@{
    
    Layout = "_DefaultLayout";
}

<div class="login">
    <div class="container">
        <div class="login-main">

           <h1>@Model.message</h1>
            <p>@Model.result</p>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
